.body {
    margin: 0;
}

.header{
    margin-top: 10px;
    margin-left: 0%;
    margin-right: 0%;
    background-color:rgba(4, 0, 255, 0.959);
    font-family: Arial, Helvetica, sans-serif;
    height: 120px;
    padding: 0 ;
}

.header img{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.info{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

.info h1{
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color:rgba(4, 0, 255, 0.959);
}

.info h2{
    margin-left: 60px;
    margin-top: 30px;
    font-size: 14px;
    background-color:rgba(4, 0, 255, 0.959);
}

.menu{
    margin-top: 7.5px;
    background-color:red;
    margin-left: 0.4px;
}

.menu ul {
    margin: 0;
}

.menu li{
    display: inline-block;
    padding-right: 20px;
    margin-top: 10px;
    height: 28px;
}

.menu ul a{
    background-color:rgb(0, 225, 255);
    text-decoration: none;
    padding: 4px;
    color: black;
    border-radius: 8px;
}

.menu ul a:hover{
    background-color: black;
    color: white;
}

.menu li:active{
    position: relative;
    top: 3px;
}

.movies{
    margin-top: 5px;
    background-color: rgb(218, 218, 218);
    margin-left: 10px;
    margin-right: 10px;
    height: 1350;
}

.movie{
    margin-left: 1010px;
    margin-top: -55px;
}

.w1{
    margin-top: -160px;
    margin-left: 720px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.5px;

}

.w1 hr{
    margin-left: -40px;
    width: 300px;
}

.w1 div{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -200px;
    margin-top: -50px;
    color: black;
    background-color: white;
    width: 95px;
    padding-left: 10px;
    padding-right: 10px;
}

.hr1{
    margin-top: 75px;
    height: 2.5px;
    background-color: black;
}

.mane{
    color:black;
    background-color:  rgb(218, 218, 218);
    text-decoration: none;
}

.mane:hover{
    color: tomato;
}

.mane:active{
    color: black;
    position: relative;
    bottom: 3px;
}

.mov{
    margin-left: 10px;
    margin-top: -15px;
}

.t1{
    margin-top: -450px;
    margin-left: 900px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.men{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: rgb(218, 218, 218);
    width: 180px;
}
.men img{
    width: 180px;
}
.men a{
    margin-left: 17px;
    margin-top: 5px;
    text-decoration: none;
    color: black;
}

.men a:hover{
    color: red;
}

.men a:active{
    position: relative;
    top: 3px;
}
